.Hero-pricing{
    margin: 10em 0 10em 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 10em;
    text-align: center;
}
.hero-content{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 2em;
    text-align: center;
    
}
.price{
    height:20em;
    width:20em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}