.universe{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-top: 10em;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}
.product-section{
    height:25em;
    width:20em;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: center;
}

.product-logo{
    width: 60%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

