.Hero-home{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    margin-top: 5em;
}
img{
    max-width:900px;
    
}

.custom-hover-btn:hover {
  background-color: #000;
  color:#fff;
  border-color: #000;
}